@page "/users"
@page "/users/Index"
@using CEJ_WebApp.Model


<Modal @ref="modalInsert" title="Inserir usuário"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
	   IsVerticallyCentered="true"
       Size="ModalSize.Large">
    <BodyTemplate>
        <EditForm Model="@user" OnValidSubmit="@OnIncludeQuiz">
            <DataAnnotationsValidator />
@*             <div class="form-group">
                <label>Description</label>
                <InputText id="txtQuizDescription" class="form-control" @bind-Value=@category.Description />
                <ValidationMessage For="@(()=> category.Description)" />
            </div> *@
        </EditForm>

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalInsertClick">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnIncludeQuiz">Include</Button>
    </FooterTemplate>
</Modal>

<h1>Usuários</h1>
<hr />

<div>

    <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Add" Label="Usuário" OnClick="OnShowModalInsertClick" />

</div>
<br />

@code{

	UserEntity user = new UserEntity();
    bool allowRowSelectOnRowClick = true;

    private Modal modalInsert = default!;
    private Modal modalUpdate = default!;


    private async Task OnShowModalInsertClick()
    {
        user = new UserEntity();
        await modalInsert.ShowAsync();
    }

    private async Task OnIncludeQuiz()
    {
        // if (!string.IsNullOrEmpty(user.Name))
        // {
        //     var include = await categoryService.ObjectAdd(category);

        //     if (include)
        //     {
        //         ShowMessage(ToastType.Success, "Insert Success.");

        //         await GetCategoriesAsync();
        //     }
        //     else
        //     {
        //         ShowMessage(ToastType.Danger, "Insert Error.");
        //     }

        //     category = new QuizDto();

        //     gridCategory.Reload();
        // }

        OnHideModalInsertClick();
    }

    private async Task OnHideModalInsertClick()
    {
        await modalInsert.HideAsync();
    }

    private async Task OnShowModalEditClick()
    {
        await modalUpdate.ShowAsync();
    }

    private async Task OnHideModalEditClick()
    {
        await modalUpdate.HideAsync();
    }
}